@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

.container-leads{
    max-width: 800px;
    margin: 5rem auto ;
    background: rgb(255, 255, 255);
    padding:2rem;
    border-radius: 10px;
    text-align: left;
}

.interactive-table td, .interactive-table th{
    border : 1px solid rgb(0, 0, 0);
    padding:5px;
    text-align: left;
}
.interactive-table{
    border-collapse:collapse;
    width:80%;
    background: rgb(255, 255, 255);
    color: black;
    align-items: center;
    
}

.add-lead{
    border: none;
    background: rgb(1, 155, 245);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100px;
    height: 50px;
    width:150px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 1px;
    width: 20%;
}

.add-lead:hover{
    background: rgb(19, 116, 226)
}


