@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');
:root{
    --primary-color: rgb(17,86,102);
    --primary-color-darker: rgb(10, 49, 58);
}
*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(37, 37, 37);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height:1.5em;
}
.conteiner{
    max-width: 640px;
    margin:5rem auto;
    background: white;
    padding:2rem;
    border-radius: 10px;
}

form input, form label, form button{
    display: block;
    width:100%;
    margin-bottom: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: rgb(202, 199, 199);
    color: black;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 4rem;
}
form button:hover{
    background: rgb(139, 138, 138);
}

ul {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

li { 
    margin-bottom: 8px;
    color: #525f7f;
    position: relative;
}

li:before {
    content: "";
    width: 0%; height: 2px;
    background: #2ecc71;
    position: absolute;
    left: 0; top: 50%;
    display: block;
    transition: all .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is_valid { color: rgba(136, 152, 170, 0.8); }
.is_valid:before { width: 100%; }
