*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: auto;
    padding: 0;
    background: rgb(37, 37, 37);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height:2em;
}
img{
    width: 40%;
}