@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabela {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabela thead tr {
    background-color: #332e2b;
    color: #ffffff;
    text-align: left;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}

.tabela tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid #332e2b;
}

.tabela tbody tr.active-row {
    font-weight: bold;
    color: #332e2b;
}

.tabela td{
    padding: 0px;
}
  
body {
    background-color: #F3F3F3;
}

.flexbox {
    
    justify-content: space-between;

    width: 100%;
    max-width: 768px;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;
}

.flexbox .board-component {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 300px;

    background-color: #e6e5e1;

    padding: 15px;
}

.flexbox .board-component .card-component {
    padding: 15px 25px;
    background-color: #019bf53b;

    cursor: pointer;
    margin-bottom: 15px;
}
